<div class="h-100 wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="h-100">
        <div class="sidebar-header">
            <h3>Distributed Voting</h3>
        </div>
        {{#if isAdmin }}
            <ul class="list unstyled components">
                <p>User Address</p>
                <li {{#if (eq cur "dashboard")}} class='active' {{/if}}>
                    <a href="/admin">Dashboard</a>
                </li>
                <li {{#if (eq cur "create_position")}} class='active' {{/if}}>
                    <a href="/admin/create-position">Create Position</a>
                </li>
                <li {{#if (eq cur "create_election")}} class='active' {{/if}}>
                    <a href="/admin/create-election">Create Election</a>
                </li>
                <li {{#if (eq cur "voters")}} class='active' {{/if}}>
                    <a href="/admin/voters">Voters</a>
                </li>
                <li {{#if (eq cur "candidates")}} class='active' {{/if}}>
                    <a href="/admin/candidates">Candidates</a>
                </li>
                <li {{#if (eq cur "election_details")}} class='active' {{/if}}>
                    <a href="/admin/election-details">Election Details</a>
                </li>
                <li {{#if (eq cur "position_details")}} class='active' {{/if}}>
                    <a href="/admin/position-details">Position Details</a>
                </li>
            </ul>
            
        {{else}}
        
            <ul class="list-unstyled components">
                <p>User Address</p>
                <li {{#if (eq cur "home")}} class='active' {{/if}}>
                    <a href="/">Home</a>
                </li>
                <li {{#if (eq cur "position_details")}} class='active' {{/if}}>
                    <a href="/position-details">Position Details</a>
                </li>
                <li {{#if (eq cur "election_details")}} class='active' {{/if}}>
                    <a href="/election-details">Election Details</a>
                </li>
                <li {{#if (eq cur "candidates")}} class='active' {{/if}}>
                    <a href="/candidates">Candidates</a>
                </li>
                <li {{#if (eq cur "vote")}} class='active' {{/if}}>
                    <a href="/vote">Vote</a>
                </li>
                <li {{#if (eq cur "voting_registration")}} class='active' {{/if}}>
                    <a href="/voting-registration">Voting Registration</a>
                </li>
                <li {{#if (eq cur "live_results")}} class='active' {{/if}}>
                    <a href="/live-results">Live Results</a>
                </li>
                <li {{#if (eq cur "candidate_registration")}} class='active' {{/if}}>
                    <a href="/candidate-registration">Candidate Registration</a>
                </li>
            </ul>   
        {{/if}}
        
    </nav>

</div>