<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    {{{ _sections.stylesheet }}} 
</head>
<body>

<div class="d-flex flex-column" style="height: 100vh;">
    {{> nav }}

    <div class="flex-grow-1 h-100 d-flex flex-column">
        <div class="d-flex h-100">
            <div class="h-100">
                {{> sidenav}}
            </div>
            <div class="flex-grow-1 h-100 overflow-auto">
                    {{{body}}}
            </div>
        </div>
        <div class="mt-auto">
            {{> footer}}
        </div>
    </div>
</div>
    
    {{> script }}
    
    {{{ _sections.script }}}
</body>
</html>