<div class="p-3 d-flex flex-wrap">
    <div class="p-2">
        <h5>Positions</h5>
        <ul class="list-group" id="positions">
        </ul>
    </div>

    <div class="p-2">
        <h5>Elections</h5>
        <ul class="list-group" id="elections">
        </ul>
    </div>

    <div class="p-2">
        <h5>Candidates</h5>
        <ul class="list-group" id="candidates">
        </ul>
    </div>

    <div class="p-2">
        <h5>Voters</h5>
        <ul class="list-group" id="voters">
        </ul>
    </div>
</div>

{{#section 'script'}}
    <script src="/assets/js/core/admin/dashboard.js" type="module"></script>
{{/section}}